.centerTitle{
    text-align: center;
    color: cornflowerblue;
    margin-right: 120px;
}

.centerForm{
    text-align: center;
    color: royalblue;
    font-size: x-large;
    font-weight:bold;
    margin:20px;
}

.registerTitle{
    text-align: center;
    color: royalblue;
    font-size: x-large;
    font-weight:bold;
    background-image: url('../titleBg.png');
    background-size: contain;
    height: 30px;
}

.register{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-right: 120px;
}

.detail{
    margin-top: 50px;
    margin-right: 120px;
    flex-direction: row;
    text-align: center;
    display: flex;
    justify-content: center;
}

.alert{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 120px;
    width: 90%;
    max-height: 50px;
    margin-top: 20px;
}

.toRight{
    margin-right: 120px;
    margin-top: 500px;
}