.centerTitle{
    text-align: center;
    color: cornflowerblue;
    margin-right: 120px;
}

.centerForm{
    text-align: center;
    color: royalblue;
    font-size: x-large;
    font-weight:bold;
}

.register{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-right: 120px;
}