.CenterTitle{
    text-align: center;
    color:cornflowerblue;
    font-size:x-large;
    margin: 20px;
    margin-right: 40px;
}

.createBg{
    background-image: url('../createTbg.png');
    background-size:contain;
}