.Footer{
    background-color: grey;
    height: 50px;
    /* position:relative; */
    bottom: 0px;
    width: 100%;
    font-size: large;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    /* margin-top: 50px; */
}

.Main{
    min-height: 100vh;
    margin-left: 30px;
    margin-right: 30px;
}

.Bg{
    background-image: url('../bg.png');
    background-size:contain;
    background-repeat: repeat;
}

.aboutTitle{
    font-size: 40px;
    color: white;
    text-align: center;
}

.aboutContent{
    font-size: 15px;
    color: white;
    text-align: center;
}