.TopCss{
    height: 100%;
    background-color: crimson;
}

.imgCss{
    height: 100px;
    width: 100px;
    margin-left: 50px;
}

.headingCss{
    margin-left: 20px;
}

.login{
    justify-content: center;
    color: darkgray;
}
