.userProfile{
    display: inline-block;
    flex-direction: row;
    text-align: center;
    margin-bottom: 10px;
}

.inLine{
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}